/* .header {
	padding: 1em;
	border-bottom: 3px solid #30303030;
	display: flex;
	gap: 15px;
	align-items: center;
	justify-content: flex-end;
  } */


.form{
  padding: 2em;
  background-color: #303030;
  border-radius: 12px;
  width: 560px;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.input_container{
  display: flex;
  align-items: left;
  flex-direction: column;
  margin-top: 1em;
}

.label{
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
}

.input{
  height: 5vh;
  font-size: larger;
  width: 330px;
}

.submit{
  border-radius: 12px;
  background-color: rgb(19, 82, 172);
  height: 5vh;
  margin-left: 30%;
  width: 60%;
  font-size: large;
  cursor: pointer;
  border: none;
}

.submit:hover{
  background-color: rgb(10, 145, 118);
}

.deploy{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 500px;
  margin-top: 1em;
}

.ant-table-thead .ant-table-cell {
  background-color: #1b1b1b;
}

.test {
  background-color: #1b1b1b !important;
}

/* Mobile */
@media (min-width: 360px) and (max-width: 412px) {
  .header {
    position: relative;
    z-index: 1;
  }
  
  .form{
    width: 340px;
  }

  .input{
    width: 280px;
  }

  .deploy{
    display: grid;
    width: 70px;
    gap: 10px;
  }
}

@media (min-width: 414px) and (max-width: 420px){
  
  
  .form{
    width: 360px;
  }

  .input{
    width: 290px;
  }

  .deploy{
    display: grid;
    width: 70px;
    gap: 10px;
  }

}